<div class="relative">
  <div class="group rounded-lg hover:bg-zinc-200 dark:hover:bg-zinc-800 h-9 text-sm relative">
    <div class="flex justify-between items-center px-1">
      <%= link_to chat_path(uuid: chat.uuid), class: "flex items-center gap-2 p-2" do %>
        <div class="relative grow overflow-hidden whitespace-nowrap">
          <p class="truncate w-[150px]"><%= chat.title || chat.uuid %></p>
        </div>
      <% end %>
    </div>
  </div>
</div>